body {
	font-family: 'Zilla Slab', serif;
	line-height: 1.8;
  background-color:#fff;
  color: #1e1e1e;
  margin: 0;
  
}

.container{
  display: flex;
  justify-content: center;
  height: 1000px;

}

.content, .side-menu, .side-info {
padding: 5px;
text-align: center;
}

header, footer {
  background-color: #E6E6FA;
  padding: 20px 5px;
  text-align: center;

}

.content {
  background-color: #fcfcfc;
  width: 75%;
  order: 2;

}

.side-menu {
  background-color: #FFE4B5;
width: 25%;
order: 1;

}

.side-info {
  background-color: #dcdcdc;
  width: 25%;
  order: 3;

}